.banner{
  background: url(banner@2x.png);
  height: 430px;
  background-size: 100%;
  width: 1200px;
  position: relative;
  margin: 0px auto auto auto;
}

.button {
    font-size: 16px;
    display: block;
    background: #ffffff;
    text-align: center;
    color: #008fe9;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 25px;
    line-height: 1.25em;
    font-weight: bold;
    margin: 19px 21px 0 -204px;
    width: 150px;
    font-family: Circe, Arial, Helvetica, sans-serif;
  }

  .button:hover {
    font-size: 16px;
    background: #d0d9ff;
    text-align: center;
    color: #143bd8;
  }  

  .banner_button {
    font-size: 16px;
    display: block;
    background: black;
    text-align: center;
    color: #fff;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 25px;
    line-height: 1.25em;
    font-weight: bold;
    width: 240px;
    height: 17px;
    position: absolute;
    bottom: 0;
    left: 444px;
    top: 357px;
    opacity: 0.6;
    right: 50px;
    font-family: Circe Regular;
  }

  .banner_button:hover{
    color: #fff;
    background: black;
    opacity: 0.8;
  }

  .header {
    background: rgba(20, 59, 216, 0.95);
    padding: 0;
    border-collapse: collapse;
    width: 1200px;
    margin: 0 auto;

  }
  .header__left {
    float: left;
    width: 270px;
  }

  .header__right {
    float: right;
    width: 0px;
  }

  .header__center {
    font-family: Circe, Arial, Helvetica, sans-serif;
    margin: 0 250px 0 270px;
    padding: 35px 60px; 
  }

  .header__logo {
    background: url(logo@2x.png) no-repeat;
    background-size: 170px 17px;
    width: 170px;
    height: 17px;
    display: block;
    margin: 36px auto;
  }
  
  .header__link{
         color: inherit;
         color: #fff;
         text-decoration: inherit;
         border-bottom: 1px solid #5c75de;
         padding-bottom: 2px;
         margin: 0px 11px 0px 0px;
         padding: 2px 0px;
             font-size: 20px
  }

  .TopBar{
    font-family: Arial;
    font-size: 14px;
    text-decoration: inherit;
    padding-bottom: 2px;
    margin:0px 11px 0px 13px;
    padding: 0px 0px;
    font: right;
    color: black;
  }

.Top{
    width: 1200px;
    margin: 5px auto;
}

.about{
  font-size: 60px;
  font-family: Myriad Pro,Regular;
  text-decoration: inherit;
  float: left;
  margin:68px 0 0 100px;
  line-height: 66px;
  width: 600px;
}

.about_link{
  font-size: 60px;
  font-family: Myriad Pro,Regular;
  text-decoration: inherit;
  color: #008fe9;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba( 178, 221, 248, 1),
    rgba(178, 221, 248, 1) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
    );
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: none
}

.text{
  align:right;
  font-family: Myriad Pro,Regular;
  font-size: 16px;
  float: right;
  margin: 80px 141px 0 0;
  width: 359px;
}

.picture{
float:left;
margin: 0 5px 0 5px;
}

.button_down{
    font-size: 16px;
    display: block;
    background: #2656e0;
    text-align: center;
    color: white;
    padding: 20px 0px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 1.25em;
    margin: 130px 0px 0 0px;
    width: 200px;
    font-family: Circe, Arial, Helvetica, sans-serif;
}

.button_down:active{
  background: #143bd8;
  box-shadow: 0px 2px 0px 0px rgba(88, 88, 88, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
}

.clearfix {clear: both;}