.button {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    line-height: 1.25em;
    padding: 15px 25px;
    background: #fff;
    color: #008fe9;
}

.button:hover {
    background: #d0d9ff;
    color: #143bd8;
}

.header {
    background: rgba(20, 59, 216, 0.95);
    padding: 0;
    text-align: center;
}

.header__left {
    float: left;
    width : 270px;
}

.header__right {
    float: right;
    width: 250px;
    padding: 20px;
}

.header__center {
    font-family: Circe, Arial, Helvetica, sans-serif;
     margin: 0 250px 0 270px;
     padding: 20px 60px 0 20px;
}

.header__logo {
    display: block;
    background: url(logo.svg) no-repeat;
    background-size: 170px 17px;
    width: 170px;
    height: 17px;
    margin: 36px auto;
}

.header__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0.5em 20px 0.5em 0;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__link:hover {
     border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.clearfix {
    clear: both;
}

.base_body {
    margin: 0;
}

.base__block {
    width: 1200px;
    margin: 0 auto;
}

.banner {
    background: url(banner.png);
    height: 430px;
    background-size: 100%;
    position: relative;
}

.banner__footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}


.button_grey {
    background: rgba(31, 32, 36, 0.6);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    line-height: 1.25em;
    padding: 15px 25px;
    margin: 20px 50px;
}

.button_grey:hover {
    background: rgba(31, 32, 36, 0.4);
}
