.mockup {
  background: url(mockup.png) center top no-repeat;
  background-size: 1400px 2050px;
  width: 1400px;
  height: 2050px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  opacity: 0.2;
  display: none;
}

.root {
  background: #eee;
}

.root__block {
  width: 1200px;
  margin: 0 auto;
  padding: 0 100px 115px;
}

.root__body {
  position: relative;
  margin: 0;
}

.button {
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  line-height: 1.25em;
  padding: 15px 25px;
  background: #fff;
  color: #008fe9;
}

.button:hover {
  background: #d0d9ff;
  color: #143bd8;
}

.header {
  background: rgba(20, 59, 216, 0.95);
  padding: 0;
  text-align: center;
}

.header__left {
  float: left;
  width : 270px;
}

.header__right {
  float: right;
  width: 250px;
  margin: 20px 0;
}

.header__center {
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  width: 560px;
  margin: 20px 0;
  padding: 0 60px;
}

.header__logo {
  display: block;
  background: url(logo.svg) no-repeat;
  background-size: 170px 17px;
  width: 170px;
  height: 17px;
  margin: 36px auto;
}

.header__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin: 0.5em 20px 0.5em 0;
  float: left;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 25px;
  background-color: none;
}

.header__link_without-margin {
  margin-right: 0;
}

.header__link:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 25px;
  background-color: none;
}

.clearfix {
  clear: both;
}

.banner {
  background: url(banner@2x.png);
  height: 430px;
  background-size: 100%;
  position: relative;
}

.banner__footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.button_grey {
  background: rgba(31, 32, 36, 0.6);
  color: #ffffff;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  line-height: 1.25em;
  padding: 15px 25px;
  margin: 20px 50px;
}

.button_grey:hover {
  background: rgba(31, 32, 36, 0.4);
}

.info {
  font-family: Circe, Arial, Helvetica, sans-serif;
  color: #1f2024;
  font-size: 14px;
  line-height: 2.2em;
  padding: 10px 50px;
}

.info__link {
  float: left;
  color: #1f2024;
  font-size: 14px;
  line-height: 2.2em;
  margin-left: 1.428em;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba(31, 32, 36, 0.3),
    rgba(31, 32, 36, 0.3) 50%,
    rgba(31, 32, 36, 0.3) 50%,
    rgba(31, 32, 36, 0.3) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 23px;;
  background-color: none;
}

.info__link:hover {
  background: linear-gradient(
    to right,
    rgba(31, 32, 36, 0.6),
    rgba(31, 32, 36, 0.6) 50%,
    rgba(31, 32, 36, 0.6) 50%,
    rgba(31, 32, 36, 0.6) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 23px;;
  background-color: none;
}

.info__link_without-margin {
  margin: 0;
}

.info__left {
  float: left;
}

.info__right {
  float: right;
}

.info__item {
  float: left;
  margin-right: 1.428em;
}

.about {
  padding: 10px 100px 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.about__left {
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 1.16em;
  color: #1f2024;
  width: 600px;
  margin-right: 0;
  margin-top: 50px
}

.about__right {
  float: right;
  width: 400px;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px;
}

about__text {
  margin: 10px 0;
  line-height: 1.5625em;
}

.dashed {
  color: #008fe9;
  background: linear-gradient(
    to right,
    rgba(0, 143, 233, 0.3),
    rgba(0, 143, 233, 0.3) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: 0 71px;
  background-color: none;
}

.about__right-link {
  color: #008fe9;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba(0, 143, 233, 0.3),
    rgba(0, 143, 233, 0.3) 50%,
    rgba(0, 143, 233, 0.3) 50%,
    rgba(0, 143, 233, 0.3) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 20px;
  background-color: none;

}

.about__right-link:hover {
  background: linear-gradient(
    to right,
    rgba(0, 143, 233, 0.6),
    rgba(0, 143, 233, 0.6) 50%,
    rgba(0, 143, 233, 0.6) 50%,
    rgba(0, 143, 233, 0.6) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 20px;
  background-color: none;
}

.images {
  margin: 25px 0 40px;
}

.image__item {
  display: block;
  float: left;
  margin-right: 10px;
  height: 90px;
  width: 90px;
}

.about__button {
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1.5em;
  padding: 18px 30px;
  color: #fff;
  border-radius: 4px;
  background: #143bd8;
  background-image: -moz-linear-gradient( 90deg, rgb(14,44,205) 0%, rgb(12,39,201) 11%, rgb(19,57,205) 43%, rgb(34,80,222) 92%, rgb(41,90,225) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(14,44,205) 0%, rgb(12,39,201) 11%, rgb(19,57,205) 43%, rgb(34,80,222) 92%, rgb(41,90,225) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(14,44,205) 0%, rgb(12,39,201) 11%, rgb(19,57,205) 43%, rgb(34,80,222) 92%, rgb(41,90,225) 100%);
  box-shadow: 0px 2px 0px 0px rgba(88, 88, 88, 0.3),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
}

.about__button:active {
  box-shadow: inset 0px 3px 5px 0px rgba(6, 15, 74, 0.55);
}

.line {
  border-bottom: 1px solid #eeeeee;
}

.client {
  padding: 40px 100px 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.client__info {
  font-family: Circe, Arial, Helvetica, sans-serif;
}

.client__left {
  float: left;
  font-size: 32px;
  line-height: 2.1875em;
  margin: 0;
}

.client__right {
  float: right;
  font-size: 16px;
  line-height: 2.25em;
  margin: 0;
  padding: 20px 0 0;
}

.client__about {
  float: left;
}

.client__logo {
  margin-top: 25px;
}

.logo__item {
  margin:0;
  margin-top: 16px;
}

.client__text {
  font-family: Circe, Arial, Helvetica, sans-serif;
  line-height: 1.5625em;
  font-size: 16px;
  margin-right: 50px;
  width: 150px;
}

.client__link {
  color: #008fe9;
  text-decoration: none;
}

.contact {
  font-family: Circe, Arial, Helvetica, sans-serif;
  background: #fff url(phone@2x.png) no-repeat left 35px;
  min-height: 334px;
  background-size: 334px 300px;
  border-bottom: 1px solid #eee;
}

.contact__image {
  float: left;
  width: 334px;
  height: 300px;
}

.contact__info {
  float: left;
  width: 812px;
  padding: 50px 0 0 340px;
}

.contact__phone {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.25em;
  float: left;
  width: 250px;
}

.contact__mail {
  float: left;
  font-size: 32px;
  line-height: 1.25em;
}

.mail__link {
  color: #008fe9;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgba(0, 143, 233, 0.3),
    rgba(0, 143, 233, 0.3) 50%,
    rgba(0, 143, 233, 0.3) 50%,
    rgba(0, 143, 233, 0.3) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 36px;
  background-color: none;
}

.mail__link:hover {
  background: linear-gradient(
    to right,
    rgba(0, 143, 233, 0.6),
    rgba(0, 143, 233, 0.6) 50%,
    rgba(0, 143, 233, 0.6) 50%,
    rgba(0, 143, 233, 0.6) 100%
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 36px;
  background-color: none;
}

.contact__text {
  font-size: 16px;
  line-height: 1.5625em;
  width: 660px;
  margin-top: 7px; 
}

.input__item {
  display: block;
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5625em;
  color: #999;
  padding: 17.5px 20px 17.5px 20px;
  width: 158px;
  border: 1px solid #999;
  margin-top: 10px;
  margin-right: 10px;
}

.input__item-width {
  width: 300px;
}

.footer {
  background: #fff;
  padding: 25px 0;
}

.footer__left {
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.78571em;
  margin-left: 40px;
}

.footer__text {
  margin: 0;
}

.footer__text-ta {
  text-align: right;
}

.footer__link {
  margin-left: 10px;
  background-position: 0 18px;
}

.footer__link:hover {
  background-position: 0 18px;
}

.footer__right {
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.78571;
  float: right;
  margin: 0 50px;
  width: 198px;
}

.footer__right-company {
  text-transform: uppercase;
  color: #ff0000;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
}


.text__right {
  float: right;
  margin-top: 1.78571em;
}

.text__left {
  float: left;
  width: 150px;
}
