.mockup {
  background: url(mockup.png) center top no-repeat;
  background-size: 1400px 2050px;
  width: 1400px;
  height: 2050px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  opacity: 0.2;
  display: none;
}

.button {
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  line-height: 1.25em;
  padding: 15px 25px;
  background: #fff;
  color: #008fe9;
}

.button:hover {
  background: #d0d9ff;
  color: #143bd8;
}

.header {
  background: rgba(20, 59, 216, 0.95);
  padding: 0;
  text-align: center;
}

.header__left {
  float: left;
  width : 270px;
}

.header__right {
  float: right;
  width: 250px;
  margin: 20px 0;
}

.header__center {
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  width: 560px;
  margin: 20px 0;
  padding: 0 60px;
}

.header__logo {
  display: block;
  background: url(logo.svg) no-repeat;
  background-size: 170px 17px;
  width: 170px;
  height: 17px;
  margin: 36px auto;
}

.header__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin: 0.5em 20px 0.5em 0;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__link_without-margin {
  margin-right: 0;
}

.header__link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.clearfix {
  clear: both;
}

.base_body {
  margin: 0;
}

.base__block {
  width: 1200px;
  margin: 0 auto;
  padding: 0 100px 115px;
}

.banner {
  background: url(banner.png);
  height: 430px;
  background-size: 100%;
  position: relative;
}

.banner__footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}


.button_grey {
  background: rgba(31, 32, 36, 0.6);
  color: #ffffff;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  line-height: 1.25em;
  padding: 15px 25px;
  margin: 20px 50px;
}

.button_grey:hover {
  background: rgba(31, 32, 36, 0.4);
}

.info {
  font-family: Circe, Arial, Helvetica, sans-serif;
  color: #1f2024;
  font-size: 14px;
  line-height: 2.2em;
  padding: 10px 50px;
}

.info__link {
  font-family: Circe, Arial, Helvetica, sans-serif;
  color: #1f2024;
  font-size: 14px;
  line-height: 2.2em;
  margin-left: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba(31, 32, 36, 0.3);
}

.info__link_without-margin {
  margin: 0;
}

.info__left {
  float: left;
}

.info__right {
  float: right;
}

.info__item {
  float: left;
  margin-right: 20px;
}

.about {
  padding: 10px 100px 60px;
}

.about__left {
  float: left;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 1.16em;
  color: #1f2024;
  width: 600px;
  margin-right: 0;
  margin-top: 50px
}

.about__right {
  float: right;
  width: 400px;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 70px;
}

.about__right_content1 {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.about__right_content2 {
  margin: 0;
  line-height: 1.5em;
  vertical-align: center;
}

.about__right_content3 {
  margin: 0;
  line-height: 2.2em;
}

.dashed {
  border-bottom: 2px dashed rgba(0, 143, 233, 0.3);
  color: #008fe9;
  text-decoration: none;
}

.images {
  margin: 30px 0 40px;
}

.image__item {
  display: block;
  float: left;
  margin-right: 10px;
  height: 90px;
  width: 90px;
}

.about__button {
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1.6em;
  padding: 18px 30px;
  background: #143bd8;
  color: #fff;
  border-radius: 4px;
}
